{
  "extends": [
    "airbnb",
    "airbnb-typescript"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "max-len": [
      "warn",
      {
        "code": 120
      }
    ],
    "no-console": "off",
    "react/react-in-jsx-scope": "off"
  }
}